{% extends 'base.html' %}
{% block body %}
<div class="card w-25 p-3 manualstyles">
    <div class="card-header">
        Agency
    </div>
    <form class="addagency" method="post" action="/addagency">
    {% csrf_token %}
        <div class="card-body">
            <h5 class="card-title"> <label> Enter Agency Id: </label>
                <input type="Text" name="agencyid" id="agencyid" class="my-2">
            </h5>
            <h5 class="card-title"> <label> Enter Agency Name: </label>
                <input type="Text" name="agencyname" id="agencyname" class="my-2">
            </h5>
            <h5 class="card-title"> <label> Enter Agency Address: </label>
                <input type="Text" name="agencyaddress" id="agencyaddress" class="my-2">
            </h5>
            <h5 class="card-title"> <label> Enter Agency Email: </label>
                <input type="Text" name="agencyemail" id="agencyemail" class="my-2">
            </h5>
            <h5 class="card-title"> <label> Enter Agency Contact: </label>
                <input type="Text" name="agencycontact" id="agencycontact" class="my-2">
            </h5>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock body %}