{% extends 'base.html' %}
{% block body %}
<div class="card w-25 p-3 manualstyles">
    <div class="card-header">
        Retailer
    </div>
    <form class="addretailer" method="post" action="/addretailer">
    {% csrf_token %}
        <div class="card-body">
            <h5 class="card-title"> <label> Enter Retailer Id: </label>
                <input type="Text" name="retailerid" id="retailerid" class="my-2">
            </h5>
            <h5 class="card-title"> <label> Enter Retailer Name: </label>
                <input type="Text" name="retailername" id="retailername" class="my-2">
            </h5>
            <h5 class="card-title"> <label> Enter Retailer Contact: </label>
                <input type="Text" name="retailercontact" id="retailercontact" class="my-2">
            </h5>
            <h5 class="card-title"> <label> Enter Retailer Address: </label>
                <input type="Text" name="retaileraddress" id="retaileraddress" class="my-2">
            </h5>
            </h5>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock body %}